<link rel="stylesheet" href="css/login.css">

<div class="login-word">
    <h1>LOGIN</h1>
</div>

<div class="field">
    <input type="text" id="id" name="id" placeholder="username"><br><br>
    <input type="password" id="password" name="password" placeholder="password"><br><br>
</div>


<div class="img">
    <img src="css/images/login.png" id="middle" alt="logo">

</div>

<div class="login-button">
    <button>login</button>
</div>