<link href="https://fonts.google.com/specimen/Kaushan+Script" rel="stylesheet" />
<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/select.css" />

<img id="logo" src="/images/login.png" alt="logo">
<div class="wg_category">
    <div class="wg_category-container">
        <button id="appetizer" onclick="location.href='/queue'">
            Queue
        </button>
        <button id="category" onclick="location.href='/cooking'">Cooking</button>
        <button id="category" onclick="location.href='/delivery'">
            Delivery
        </button>
    </div>
</div>
</div>