body {
    background-color: #F9EFE3;
}

/* Style for the outer login div */
.login-word {
    position: absolute;
    width: 285px;
    height: 120px;
    left: 817px;
    top: 272px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 120px;
    /* identical to box height */

    color: #FF5B00;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img {
    position: absolute;
    width: 340px;
    height: 311px;
    left: 790px;
    top: 420px;

    background: url(image.png);
    mix-blend-mode: color-burn;
}

.login-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 239px;
    gap: 10px;

    position: absolute;
    width: 532px;
    height: 50px;
    left: 694px;
    top: 759px;

    background: #FF5B00;
}

.field {
    position: absolute;
    width: 531px;
    height: 146px;
    left: 694px;
    top: 497px;

}